.sb-added {width:300px;text-align:center;font:12px 'Open sans';}
.btn_link, .btn_link:hover, .btn_link .fa, .btn_link:hover .fa {
    color: #ffffff !important;
}

.bg_color, .bg_color:hover {
    background-color: #9b0729 !important;
}
.btn-floating.btn-sm, .btn-floating.btn-small, .btn-floating.wishlist {
    width: 36.15px;
    height: 36.15px;
}

.btn-floating {
    z-index: 1;
    overflow: hidden;
    padding: 8px;
    border-radius: 50%;
    transition: .3s;
}

.btn-flat, .btn-floating {
    position: relative;
    margin: 10px;
}

.btn {
   font-size: .8rem;
    border: 0;
    white-space: normal!important;
    word-wrap: break-word;
}

.btn-flat, .btn-floating {
    position: relative;
    margin: 10px;
}
.et_pb_code_inner {
    position: relative;
}
.et_pb_text_align_right {
    text-align: right;
}

.et_pb_code_0 {
    padding-top: 0px;
    margin-top: -10px!important;
}

.btn-floating:hover, .card-overlay, .card.card-cascade .view, .colorful-select .dropdown-content li a:hover, .colorful-select .dropdown-content li span:hover, .comments-list img, .modal-dialog.cascading-modal.modal-avatar .modal-header img, .reply-form img, .testimonial-carousel .testimonial .avatar img, .z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}


ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-bottom: 60px;
}
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
    width: 800px;
}

.customform input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.customform input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.customform input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

a.save.fav_btn.btn.btn-floating.btn-small.bg_color.btn_link.waves-effect.waves-light.addFavorite {
    background: #19E0AF !important;
    color: black !important;
}

.row.col-sm-12.p-0.mx-0 {
    margin-top: 10px;
}

a.btn.btn_primary.mx-auto.bg_color.btn_link {
    padding: 5px;
}

.sb-added.property_results {
    margin-bottom: 20px;
}
.page-id-78 article > .entry-content{
      display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}
.page-id-78 article > .entry-content > .pagi {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
}
.page-id-78 article > .entry-content > form, 
.page-id-78 article > .entry-content > h2,
.page-id-78 article > .entry-content #propertyresults
 {
    width: 100%;
}


@media all{
h4{color:#3e3e3e;}
a{color:#00ddb7;}
h4{font-family:'Poppins',Helvetica,Arial,Lucida,sans-serif;}
.property_results .et_pb_column{border:1px solid #e1e1e1;border-radius:6px;margin-right:10px;margin-bottom:15px;padding-bottom:30px;text-align:center;text-transform:uppercase;width:350px;min-height:440px;box-shadow:0px 2px 4px rgba(31,50,61,.12);}
.property_results .et_pb_column:nth-child(3n+1){clear:left;}
.property_results .MainImage{overflow:hidden;height:214px;display:block;}
.property_results .MainImage img{height:214px;width:100%;object-fit:fill;-webkit-transform:scale(1.15);-ms-transform:scale(1.15);transform:scale(1.15);opacity:1;filter:alpha(opacity=100);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.35s ease;transition:all 0.35s ease;cursor:default;border-radius:5px 5px 0px 0px;}
.property_results .et_pb_column:hover .MainImage img{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}
.property_results .pr_title{padding:20px 20px 15px;}
.property_results .pr_title .Type{font-size:12px;letter-spacing:.15em;color:#1e3748;display:block;margin-bottom:5px;}
.property_results .pr_title h4{padding:0px;margin:0;font-weight:bold;color:#1e3748;display:inline-flex;align-items:center;}
.property_results ul{padding:0;margin-bottom:12px;}
.property_results ul span{font-size:14px;color:#262637;text-transform:none;padding:0 10px;display:inline-block;}
.property_results ul span:before{display:block;line-height:1;height:32px;width:32px;margin:auto;background-size:contain;background-position:center;background-repeat:no-repeat;}
.property_results ul span.pr_bed:before{content:"";background-image:url(https://www.newhomespain.com/wp-content/uploads/2018/08/prop-result-bedroom.png);}
.property_results ul span.pr_bath:before{content:"";background-image:url(https://www.newhomespain.com/wp-content/uploads/2018/08/prop-result-bathroom.png);}
.property_results ul span.pr_built:before{content:"";background-image:url(https://www.newhomespain.com/wp-content/uploads/2018/08/prop-result-living-m2.png);}
.property_results ul span.pr_terrace:before{content:"";background-image:url(https://www.newhomespain.com/wp-content/uploads/2018/08/prop-result-terrace.png);}
.property_results ul span.pr_orientation:before{content:"";background-image:url(https://www.newhomespain.com/wp-content/uploads/2018/08/prop-result-compass-.png);}
.property_results .price_pr a{color:#fff;text-decoration:none;}
.property_results .price_pr,.property_results .price{background-color:#1e3748;color:#fff;padding:10px 24px;font-size:14px;font-weight:normal;letter-spacing:.1em;border-radius:3px;display:inline-block;-webkit-transition:all 0.35s ease;transition:all 0.35s ease;}
.property_results .price_pr:hover,.property_results .price:hover{background-color:#19e0af!important;}
.property_results .price_pr .price{padding:0px;background-color:transparent;}
.property_results .price_pr .price:hover{background-color:transparent;}
.property_results .add_post_favorite{position:absolute;top:5px;right:5px;border:none;color:#fff;overflow:hidden;padding:0;letter-spacing:10px;text-shadow:0px 0px 3px #000;text-indent:-500px;background-color:transparent;cursor:pointer;}
.property_results .add_post_favorite i{height:32px;width:32px;background-repeat:no-repeat;background-position:center;display:block;margin-right:2px;margin-top:1px;}
.property_results .add_post_favorite .fav-add{background-image:url(https://www.newhomespain.com/wp-content/uploads/2018/08/favourite-star-empty.png);background-repeat:no-repeat;background-size:30px;}
.property_results .MainImage .results-next-image-in-array::before{content:url(https://www.newhomespain.com/wp-content/uploads/2018/04/trans.png)!important;background-image:url(//www.newhomespain.com/wp-content/uploads/2018/08/property-arow-right.png);background-repeat:no-repeat;background-size:36px;}
.property_results .MainImage .results-prev-image-in-array::before{content:url(https://www.newhomespain.com/wp-content/uploads/2018/04/trans.png)!important;background-image:url(//www.newhomespain.com/wp-content/uploads/2018/08/property-arow-left.png);background-repeat:no-repeat;background-size:36px;}
@media only screen and (max-width:1100px){
.property_results ul span{font-size:12px;padding:0 5px;}
.property_results ul span:before{width:25px;}
}
@media only screen and (min-width:981px) and (max-width:1100px){
.property_results .et_pb_column{width:263px;}
.property_results .pr_title h4{min-height:47px;}
}
@media only screen and (min-width:768px) and (max-width:980px){
.property_results .MainImage,.property_results .MainImage img{height:300px;}
}
.MainImage{position:relative;}
.property_results .MainImage .results-next-image-in-array{position:absolute;bottom:43%;right:0;height:30px;color:white;font-size:25px;line-height:30px;}
.property_results .MainImage .results-prev-image-in-array{position:absolute;bottom:43%;left:0;height:30px;color:white;font-size:25px;line-height:30px;}
.property_results .MainImage .results-prev-image-in-array{position:absolute;bottom:0%;right:0;height:212px;width:80px;color:white;font-size:25px;line-height:30px;padding-top:36px;padding-bottom:90px;padding-left:4px;}
.property_results .MainImage .results-next-image-in-array{position:absolute;bottom:0%;right:0;height:212px;width:80px;color:white;font-size:25px;line-height:30px;padding-top:36px;padding-bottom:90px;padding-left:40px;}
.property_results .pr_title{padding:20px 20px 15px;font-family:Poppins;}
.property_results ul span{font-family:Poppins;}
.property_results .price_pr a{font-family:Poppins;}
.property_results .price{font-family:Poppins;}
.property_results .price_pr,.property_results .price{box-shadow:0px 2px 4px rgba(31,50,61,.15);}
.property_results .price_pr .price{box-shadow:0px 2px 4px rgba(31,50,61,.0);}
.property_results .price_pr .price:hover{background-color:#fff0!important;}
.property_results .et_pb_column{background:#fff;}
@media (min-width:980px) and (max-width:1320px){
.property_results .et_pb_column{width:32.5%;}
}
.property_results .MainImage img{-webkit-transform:scale(1)!important;-ms-transform:scale(1)!important;transform:scale(1)!important;}
.property_results .et_pb_column:hover .MainImage img{-webkit-transform:scale(1.06)!important;-ms-transform:scale(1.06)!important;transform:scale(1.06)!important;}
.entry-content ul{line-height:20px;}
::selection{color:#ffffff;background:#1be5b3;}
::-moz-selection{color:#ffffff;background:#1be5b3;}
}